@import url("normalize.css");

/* bring in normalize.css styles */
::-webkit-scrollbar {
  width: 12px;
  /* Ширина скролбара */
}

/* Стилізувати трек скролбара (фонова частина) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Колір треку */
  border-radius: 10px;
  /* Радіус заокруглення треку */
}

/* Стилізувати повзунок скролбара */
::-webkit-scrollbar-thumb {
  background: #888;
  /* Колір повзунка */
  border-radius: 10px;
  /* Радіус заокруглення повзунка */
}

/* Зміна кольору повзунка при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Колір повзунка при наведенні */
}


body {
  margin: 0;
  font-family: -apple-system, Inter,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(120deg, #e9e3c1 50%, hsl(180, 13%, 73%) 100%);
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */

}


/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    local("Inter"),
    url(./components/Fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src:
    local("Inter"),
    url(./components/Fonts/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src:
    local("Inter"),
    url(./components//Fonts/Inter-SemiBold.ttf) format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


Link,
a {
  color: azure;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 25px 0px 10px;
}