@import url("normalize.css");
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, Inter,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    local("Inter"),
    url(./components/Fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src:
    local("Inter"),
    url(./components/Fonts/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src:
    local("Inter"),
    url(./components//Fonts/Inter-SemiBold.ttf) format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 0px 10px;
}